/* > 1200 Rojo
> 700 Amarillo
body{} Verde

 */

body{
	background-color: green;
}


@media (min-width: 1200px){
	body{
	background: red;
	}
}

@media (max-width: 700px){
	body{
		background-color: yellow;
	}
}